@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/measures.scss';
@import '../../../../../../assets/fonts/fonts.scss';

.BarricaSec5{
    &-fifthSection{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &-img{
            width: 80%;
            height: 80%;
            background-size: cover;
            background-position:center;
            background-repeat: no-repeat;
        }
    }
}