@font-face{
    font-family: 'Montserrat-medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.otf);
}
@font-face{
    font-family: 'Montserrat-light';
    src: url(../fonts/Montserrat/Montserrat-Light.otf);
}
@font-face{
    font-family: 'Montserrat-semibold';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.otf);
}

@font-face{
    font-family: 'Baskerville-regular';
    src: url(../fonts/Baskerville/BaskervilleMTStd-Regular.otf);
}
@font-face{
    font-family: 'Baskerville-semibold';
    src: url(../fonts/Baskerville/BaskervilleMTStd-SemiBd.otf);
}