@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/measures.scss';
@import '../../../../../../assets/fonts/fonts.scss';

.LuovaSec6{
    height: 100vh;
    width: 100vw;
    display: flex;
    &-carousel{
        margin-left: $elements-space*5;
        height: 100%;
        width: 30%;
        overflow-y: scroll;
        &-item{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 300px;
        }
    }
    &-credits{ 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: $elements-space;
        margin-bottom: $elements-space;
        &-title{
            cursor: pointer;
        }
        & p{
            font-family: 'Montserrat-semibold',sans-serif;
            font-size: $root-fontSize*1.5;
            color: $lush-black;
        }
        &-list{
            &-item{
                margin-bottom: $elements-space;
                font-family: 'Montserrat-light',sans-serif;
                list-style: none;
                font-size: $root-fontSize*1.1;
                &-title{
                    font-family: 'Montserrat-semibold',sans-serif;
                }
            }
        }
    }
    &-gif{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-wrapper{
            width: 100%;
            height: 33%;
    }
    }
}