@import '../../../../../../assets/styles/colors.scss';
@import '../../../../../../assets/styles/measures.scss';
@import '../../../../../../assets/fonts/fonts.scss';

.DressSec3{
&-thirdSection{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    }
    &-gridItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p{
            color: $lush-grey;
            font-size: $root-fontSize;
            margin-top: $root-fontSize;
        }
    }
    &-pantone{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: $elements-space*3;
        row-gap: $elements-space*3;
        grid-template-rows: repeat(2,1fr);
        &-item{
            border-radius: 200px;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-creame{
                background-color:$DressGreen-Negro;
            }
            &-red{
                background-color:$DressGreen-VerdeOscuro;
            }
            &-white{
                background-color:$DressGreen-VerdeIntermedio;
               
            }
            &-black{
                background-color:$DressGreen-VerdeClaro;
            }
            &-green{
                background-color:$DressGreen-Magenta;
            }
            &-brown{
                background-color:white;
                border: 1px solid $grey;
            }
        }
    }
}