$background-color:#212121;
$black:#1D1D1D;
$grey:#1D1D1DCC;
$white:#fff;

//LUSH-COLORS

$lush-pink:#C13A85;
$lush-green:#9FAE5B;
$lush-black:#1D1D1D;
$lush-amarillo:#FFB743;
$lush-mutedBlack:#1D1D1DCC;
$lush-grey:rgb(199, 198, 198);

//SPORTY-COLOR 

$sporty-blue:#66809e;


//Barrica

$Barrica-Crema:#FFF0D8;
$Barrica-RojoTabique:#C6390C;
$Barrica-Blanco:#FFFFFF;
$Barrica-Negro:#1A1A1A;
$Barrica-Verde:#445C42;
$Barrica-Cafe :#B79169;

//Luova
$Luova-Naranja: #FF4409;
$Luova-Negro: #1A1A1A;
$Luova-Blanco: #FFFFFF;

//Diego
$Diego-Rojo:#C03724;

//Bloom
$Bloom-AzulFuerte:#42DDE2;
$Bloom-AzulClaro:#B0EBE9;
$Bloom-Rosa:#FBD1D7;
$Bloom-NaranjaClaro:#F26B5B;
$Bloom-NaranjaFuerte:#FF4F4D;
$Bloom-Nude:#EDD9CE;

//DressGreen
$DressGreen-VerdeOscuro: #337D7D;
$DressGreen-VerdeIntermedio: #4AA994;
$DressGreen-VerdeClaro: #A2EED1;
$DressGreen-Negro: #0C1F1F;
$DressGreen-Magenta: #E04561;

